.three-cards-coluna {
    display: flex;
    justify-content: space-between;
    font-family: "Arial", "Helvitica", "Sans-serif";
    color: #292929;
}

.three {
    width: 352px;
    height: 430px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    box-shadow: 0 3px 3px 0 rgb(252 250 251);
    padding: 10px;
    align-items: center;
}

img {
    width: auto;
    height: auto;
    max-width: 352px;
}

.title {
    text-align: center;
    width: 240px;
    font-size: 24px;
}

.text-card {
    text-align: center;
    width: 240px;
    font-size: 16px;
}

button {
    height: 48px;
    width: 130px;
    background-color: #ffbc0d;
    border: 1px solid transparent;
    border-radius: 4px;
}


